<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <title>Notifikace o hráči</title>
    </head>
    <body>
        <p>Objevil se hráč s ruským nebo běloruským občanstvím:</p>

        <ul>
            <li><strong>Klub:</strong> {{ club_name }}</li>
            <li><strong>Jméno hráče:</strong> {{ member_name }}</li>
            <li><strong>Datum narození:</strong> {{ birth_date }}</li>
            <li><strong>Občanství:</strong> {{ citizenship }}</li>
        </ul>
    </body>
</html>
