{% extends "emails/_base_email.html" %}

{% block subject %}Notifikace o hráči{% endblock %}

{% block content %}
    <p style="margin: 0 0 16px;">Objevil se hráč s ruským nebo běloruským občanstvím:</p>

    <ul style="margin: 0; padding-left: 20px;">
        <li style="margin-bottom: 4px;"><strong>Klub:</strong> {{ club_name }}</li>
        <li style="margin-bottom: 4px;"><strong>Jméno hráče:</strong> {{ member_name }}</li>
        <li style="margin-bottom: 4px;"><strong>Datum narození:</strong> {{ birth_date }}</li>
        <li style="margin-bottom: 4px;"><strong>Občanství:</strong> {{ citizenship }}</li>
    </ul>
{% endblock %}
