{% extends "core/base.html" %}
{% load i18n %}

{% block title %}<h1>{% trans "Settings" %}</h1>{% endblock %}

{% block buttons %}
    <button class="btn btn-success mb-3" hx-get="{% url 'clubs:add_agent' %}" hx-target="#dialog">
        <i class="bi bi-person-plus"></i> {% trans "Add agent" %}
    </button>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-lg-7">
            <h2>{% trans "Club" %}</h2>
            <div class="card mb-3">
                <div class="card-body" x-data="{ isModified: false }">
                    <form method="POST" x-on:input="isModified = true">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ club_form.name|as_crispy_field }}
                                {{ club_form.organization_name|as_crispy_field }}
                                {{ club_form.identification_number|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ club_form.city|as_crispy_field }}
                                {{ club_form.website|as_crispy_field }}
                                {{ club_form.email|as_crispy_field }}
                            </div>
                        </div>
                        <button type="submit" name="submit_club" class="btn btn-success" :disabled="!isModified">
                            {% trans "Save" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <h2>{% trans "Agents" %}</h2>
            <div
                hx-trigger="load, agentListChanged from:body"
                hx-get="{% url 'clubs:agent_list' %}"
                hx-target="this"
            ></div>
        </div>
    </div>
{% endblock %}
