{% extends "core/base.html" %}

{% block title %}<h1>Teams</h1>{% endblock %}

{% block buttons %}
    <button class="btn btn-success mb-3" hx-get="{% url 'clubs:add_team' %}" hx-target="#dialog">
        <i class="bi bi-plus"></i> Add team
    </button>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-primary " role="alert">
                <p>
                    Additional teams are suitable if you want to register your B team for a tournament or if you
                    occasionally want to register your club under a different name.
                </p>
                <p class="mb-0">For example, your junior’s team might have a different name than the others, etc.</p>
            </div>

            <div
                hx-trigger="load, teamListChanged from:body"
                hx-get="{% url 'clubs:team_list' %}"
                hx-target="this"
            ></div>
        </div>
    </div>
{% endblock %}
