{% extends "core/base.html" %}

{% block title %}<h1>Transfers</h1>{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestTransferModal">
        <i class="bi bi-envelope-plus"></i> Request transfer
    </button>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <!-- Modal -->
    <div class="modal fade" id="requestTransferModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5"><i class="bi bi-envelope-plus"></i> Transfer request</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div>
                    <div class="modal-body">
                        {% include "members/partials/member_search.html" %}

                        <div
                            id="transfer-form-container"
                            hx-trigger="load"
                            hx-get="{% url 'members:transfer_form' %}"
                            hx-target="this"
                            class="mt-3"
                        ></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="requestTransferForm">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if transfers %}
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>State</th>
                    <th>Member</th>
                    <th>Transfer</th>
                    <th>Requested by</th>
                    <th>Approved by</th>
                    <th class="fit text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                    <tr>
                        <td>
                            {% if transfer.state == 1 %}
                                <span class="badge text-bg-warning">{{ transfer.get_state_display | upper }}</span>
                                <br />
                                <small class="text-muted">{{ transfer.created_at | date:'Y/m/d H:i' }}</small>
                            {% elif transfer.state == 2 %}
                                <span class="badge text-bg-success">{{ transfer.get_state_display | upper }}</span>
                                <br />
                                <small class="text-muted">{{ transfer.approved_at | date:'Y/m/d H:i' }}</small>
                            {% else %}
                                <span class="badge text-bg-danger">{{ transfer.get_state_display | upper }}</span>
                                <br />
                                <small class="text-muted">{{ transfer.updated_at | date:'Y/m/d H:i' }}</small>
                            {% endif %}
                        </td>
                        <td>
                            {{ transfer.member.first_name }} {{ transfer.member.last_name }}<br />
                            <small class="text-muted">{{ transfer.member.birth_date | date:'Y/m/d' }}</small>
                        </td>
                        <td>
                            <small class="text-muted">{{ transfer.source_club.name }}</small> <br />→
                            {{ transfer.target_club.name }}
                        </td>
                        <td>
                            {{ transfer.requested_by.user.first_name }} {{ transfer.requested_by.user.last_name }}<br />
                            <small class="text-muted">{{ transfer.requesting_club.name }}</small>
                        </td>
                        <td>
                            {% if transfer.state == 2 %}
                                {{ transfer.approved_by.user.first_name }}
                                {{ transfer.approved_by.user.last_name }}
                                <br />
                                <small class="text-muted">{{ transfer.approving_club.name }}</small>
                            {% endif %}
                        </td>
                        <td class="fit text-end">
                            {% if transfer.state == 1 %}
                                <form
                                    method="POST"
                                    hx-post="{% url 'members:change_transfer_state' %}"
                                    hx-confirm="Are you sure?"
                                >
                                    {% csrf_token %}
                                    <input type="hidden" name="transfer_id" value="{{ transfer.id }}" />
                                    {% if transfer.approving_club.id == request.session.club.id %}
                                        <button type="submit" class="btn btn-success" name="action" value="approve">
                                            Approve
                                        </button>
                                        <button type="submit" class="btn btn-danger" name="action" value="reject">
                                            Reject
                                        </button>
                                    {% elif transfer.requesting_club.id == request.session.club.id %}
                                        <button type="submit" class="btn btn-danger" name="action" value="revoke">
                                            Revoke
                                        </button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-dark" role="alert">No transfers found.</div>
    {% endif %}
{% endblock %}
