{% load static %}
{% load i18n %}

<div class="list-group">
    {% for agent in agents %}
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img
                        src="{% if agent.picture_url %}{{ agent.picture_url }}{% else %}{% static 'cauf_monogram.svg' %}{% endif %}"
                        alt="{% trans "Avatar" %}"
                        class="rounded-circle me-3"
                        width="45"
                        height="45"
                    />
                    <div class="mt-1">
                        <strong class="mb-1"> {{ agent.email }} </strong>
                        <div>
                            {% if agent.has_joined %}
                                <span class="mb-1">{{ agent.full_name }}</span>
                                {% if agent.is_primary %}
                                    <span class="badge bg-dark" style="position: relative; top: -2px;">{% trans "Primary" %}</span>
                                {% endif %}
                            {% else %}
                                <small class="mb-0 text-muted">
                                    {% blocktrans with name=agent.invited_by.get_full_name|default:agent.invited_by.username %}Invited by {{ name }}{% endblocktrans %}
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    {% if not agent.is_primary %}
                        <button
                            class="btn btn-danger"
                            hx-post="{% url 'clubs:remove_agent' %}"
                            hx-trigger="click"
                            hx-confirm="{% trans "Do you really want to remove this agent?" %}"
                            hx-vals='{"email": "{{ agent.email }}"}'
                            hx-swap="none"
                        >
                            {% trans "Remove" %}
                        </button>
                    {% endif %}
                </div>
            </div>

            <div class="d-block d-md-none">
                {% if not agent.is_primary %}
                    <div class="mt-2 mb-1">
                        <button
                            class="btn btn-danger"
                            hx-post="{% url 'clubs:remove_agent' %}"
                            hx-trigger="click"
                            hx-confirm="{% trans "Do you really want to remove this agent?" %}"
                            hx-vals='{"email": "{{ agent.email }}"}'
                            hx-swap="none"
                        >
                            {% trans "Remove" %}
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
