{% load static %}

{% if agents %}
    <div class="card shadow-sm">
        <div class="list-group list-group-flush">
            {% for agent in agents %}
                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center gap-2">
                        <div class="d-flex align-items-center">
                            <img
                                src="{% if agent.picture_url %}{{ agent.picture_url }}{% else %}{% static 'cauf_monogram.svg' %}{% endif %}"
                                alt="Avatar"
                                class="rounded-circle me-3"
                                width="45"
                                height="45"
                            />
                            <div>
                                <strong class="d-block">{{ agent.email }}</strong>
                                {% if agent.has_joined %}
                                    <span>{{ agent.full_name }}</span>
                                    {% if agent.is_primary %}
                                        <span class="badge badge-soft-secondary">Primary</span>
                                    {% endif %}
                                {% else %}
                                    <small class="text-muted">
                                        Invited by
                                        {{ agent.invited_by.get_full_name|default:agent.invited_by.username }}
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                        {% if not agent.is_primary %}
                            <button
                                class="btn btn-sm btn-danger flex-shrink-0"
                                hx-post="{% url 'clubs:remove_agent' %}"
                                hx-trigger="click"
                                hx-confirm="Do you really want to remove this agent?"
                                hx-vals='{"email": "{{ agent.email }}"}'
                                hx-swap="none"
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    {% include "core/partials/empty_state.html" with icon="bi-person-x" message="No agents found." %}
{% endif %}
