{% load static %}
{% load i18n %}

<table class="table align-middle" id="membersTable" style="visibility: hidden;">
    <thead>
        <tr class="align-middle">
            <th>{% trans "Number" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Birthdate" %}</th>
            <th>{% trans "Citizenship" %}</th>
            <th>{% trans "Sex" %}</th>
            <th>{% trans "Coach licence" %}</th>
            <th>{% trans "Confirmed email" %}</th>
            <th>{% trans "Active" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr class="bg-{% if member.sex == 1 %}female{% else %}male{% endif %}">
                <th>{{ member.default_jersey_number | default:"" }}</th>
                <td>{{ member.full_name }}</td>
                <td>{{ member.birth_date | date:'Y/d/m' }}</td>
                <td>{{ member.citizenship.unicode_flag }} {{ member.citizenship }}</td>
                <td>{{ member.get_sex_display }}</td>
                <td>
                    <a href="" hx-get="{% url 'members:coach_licence_list' member.id %}" hx-target="#dialog"
                        >{% if member.has_coach_licence %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</a
                    >
                </td>
                <td data-order="{% if member.has_email_confirmed %}1{% else %}0{% endif %}">
                    {% if member.has_email_confirmed %}
                        <i class="bi bi-check-circle-fill" style="color: green;"></i>
                    {% else %}
                        <i class="bi bi-x-circle" style="color: red;"></i>
                    {% endif %}
                </td>
                <td>{% if member.is_active %}{% trans "YES" %}{% else %}{% trans "NO" %}{% endif %}</td>
                <td>
                    <button
                        class="btn btn-primary"
                        hx-get="{% url 'members:edit_member' member.id %}"
                        hx-target="#dialog-xl"
                    >
                        {% trans "Edit" %}
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    initializeMembersTable();
</script>
