{% load humanize %}
<div class="modal-content">
    <div class="modal-header justify-content-between">
        <h5 class="modal-title"><i class="bi bi-bell-fill"></i> Club's notifications</h5>
        <span class="text-muted">{{ request.session.club.name }}</span>
    </div>
    <div class="modal-body">
        {% if notifications %}
            <ul class="list-group">
                {% for notification in notifications %}
                    <li class="list-group-item">
                        <small
                            class="text-muted"
                            data-bs-toggle="tooltip"
                            data-bs-title="{{ notification.created_at }}"
                        >
                            {{ notification.created_at | naturaltime }}
                        </small>
                        <h5 class="mb-1">
                            {{ notification.subject }}
                            {% if not notification.is_read %}
                                <span class="badge bg-danger">Unread</span>
                            {% endif %}
                        </h5>

                        <div>{{ notification.message | safe }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-dark" role="alert">No notifications</div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form hx-post="{% url 'clubs:notifications_dialog' %}">
            {% csrf_token %}
            <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                {% if not notifications %}disabled{% endif %}
            >
                Mark as read
            </button>
        </form>
    </div>
</div>

<script>
    initializeTooltips();
</script>
