{% load static %}
<div class="d-none d-md-block">
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team name</th>
                <th scope="col">Description</th>
                {% if app_settings.team_management_enabled %}
                    <th scope="col" class="fit">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr style="height: 55px">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><b>{{ team.name }}</b></td>
                    <td>
                        {% if team.is_primary %}
                            <span class="badge bg-dark">Primary</span>
                        {% else %}
                            {{ team.description }}
                        {% endif %}
                    </td>
                    {% if app_settings.team_management_enabled %}
                        <td class="fit">{% include 'clubs/components/team-action-buttons.html' %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-block d-md-none">
    <div class="list-group">
        {% for team in teams %}
            <div class="list-group-item">
                <div>Name: <b>{{ team.name }}</b></div>
                <div>
                    Description:
                    {% if team.is_primary %}
                        <span class="badge bg-dark" style="position: relative; top: -2px;">Primary</span>
                    {% else %}
                        {{ team.description }}
                    {% endif %}
                </div>
                {% include 'clubs/components/team-action-buttons.html' %}
            </div>
        {% endfor %}
    </div>
</div>
