{% load crispy_forms_tags %}
{% load i18n %}
<div x-data="{ isFormValid: false }" x-init="isFormValid = $refs.form.checkValidity()">
    <form
        hx-post="{{ request.path }}"
        class="modal-content"
        x-ref="form"
        @input="isFormValid = $refs.form.checkValidity()"
    >
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">
                {% if form.instance.pk %}
                    <i class="bi bi-pencil-fill"></i> {% trans "Edit team" %}
                {% else %}
                    <i class="bi bi-plus"></i> {% trans "Create team" %}
                {% endif %}
            </h5>
        </div>

        <div class="modal-body">{% csrf_token %}{{ form|crispy }}</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-success" :disabled="!isFormValid">{% trans "Submit" %}</button>
        </div>
    </form>
</div>
