fail_fast: true
repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: uv run poe lint
        language: system
        types: [file, python]
      - id: style
        name: style
        entry: uv run poe style
        pass_filenames: false
        language: system
        types: [file, python]
      - id: type
        name: type
        entry: uv run poe type
        pass_filenames: false
        language: system
        types: [file, python]
      - id: translations-check
        name: translations-check
        entry: uv run poe translations-check
        pass_filenames: false
        language: system
        files: \.(po|py|html)$
