{% load crispy_forms_tags %}
<div
    x-data="{
        isFormValid: false,
        isFormChanged: false,
        initialData: {}
    }"
    x-init="
        isFormValid = $refs.form.checkValidity();
        initialData = Object.fromEntries(new FormData($refs.form).entries());
    "
>
    <form
        hx-post="{{ request.path }}"
        class="modal-content"
        x-ref="form"
        @input="
            isFormValid = $refs.form.checkValidity();
            const currentData = Object.fromEntries(new FormData($refs.form).entries());
            isFormChanged = JSON.stringify(currentData) !== JSON.stringify(initialData);
        "
        novalidate
    >
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">
                {% if form.instance.pk %}
                    <i class="bi bi-person-fill"></i> Edit member
                {% else %}
                    <i class="bi bi-person-plus-fill"></i> Create member
                {% endif %}
            </h5>
        </div>

        <div class="modal-body">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6">
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.default_jersey_number|as_crispy_field }}
                    {{ form.sex|as_crispy_field }}
                    {{ form.is_active|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.birth_date|as_crispy_field }}
                    {{ form.citizenship|as_crispy_field }}
                    <div id="birth-number-fields" hidden>{{ form.birth_number|as_crispy_field }}</div>
                    <div id="address-fields" hidden>
                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <i class="bi bi-arrow-down-circle me-3"></i>
                            <div>
                                Czech address registered with the Foreigners’ Police. Leave blank if the foreigner
                                resides permanently outside the Czech Republic.
                            </div>
                        </div>
                        {{ form.street|as_crispy_field }}
                        {{ form.city|as_crispy_field }}
                        {{ form.house_number|as_crispy_field }}
                        {{ form.postal_code|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" :disabled="!isFormValid || !isFormChanged">Submit</button>
        </div>
    </form>
</div>

<script>
    listenCitizenship();
</script>
