{% load static %}
{% load humanize %}
<div class="d-none d-md-block">
    <div class="list-group">
        {% for agent in agents %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img
                        src="{% if agent.picture_url %}{{ agent.picture_url }}{% else %}{% static 'cauf_monogram.svg' %}{% endif %}"
                        alt="Avatar"
                        class="rounded-circle me-3"
                        width="50"
                        height="50"
                    />
                    <div>
                        <h5 class="mb-1">
                            {{ agent.email }}
                            {% if agent.is_primary %}<span class="badge bg-dark">Primary</span>{% endif %}
                        </h5>
                        {% if agent.has_joined %}
                            <p class="mb-1">{{ agent.full_name }}</p>
                        {% else %}
                            <p class="mb-0 text-muted">
                                Invited {{ agent.invited_at | naturaltime }} by
                                {{ agent.invited_by.get_full_name|default:agent.invited_by.username }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% if not agent.is_primary %}
                    <button
                        class="btn btn-danger"
                        hx-post="{% url 'clubs:remove_agent' club_id %}"
                        hx-trigger="click"
                        hx-confirm="Do you really want to remove this agent?"
                        hx-vals='{"email": "{{ agent.email }}"}'
                        hx-swap="none"
                    >
                        <i class="bi bi-trash-fill"></i>
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="d-block d-md-none">
    <div class="list-group">
        {% for agent in agents %}
            <div class="list-group-item">
                <img
                    src="{% if agent.picture_url %}{{ agent.picture_url }}{% else %}{% static 'cauf_monogram.svg' %}{% endif %}"
                    alt="Avatar"
                    class="rounded-circle my-3"
                    width="50"
                    height="50"
                />
                <div>
                    <h5 class="mb-1">{{ agent.email }}</h5>
                    <h4>{% if agent.is_primary %}<span class="badge bg-dark">Primary</span>{% endif %}</h4>
                    {% if agent.has_joined %}
                        <p class="mb-1 text-muted">{{ agent.full_name }}</p>
                    {% else %}
                        <p class="mb-0 text-muted">
                            Invited {{ agent.invited_at | naturaltime }} by {{ agent.invited_by.get_full_name }}
                        </p>
                    {% endif %}
                </div>

                {% if not agent.is_primary %}
                    <button
                        class="btn btn-danger my-2"
                        hx-post="{% url 'clubs:remove_agent' club_id %}"
                        hx-trigger="click"
                        hx-confirm="Do you really want to remove this agent?"
                        hx-vals='{"email": "{{ agent.email }}"}'
                        hx-swap="none"
                    >
                        Remove
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
