{% extends "core/_base.html" %}
{% load static %}

{% block navbar %}
    {% load socialaccount %}
    {% url 'competitions:competitions' as competitions_url %}
    {% url 'tournaments:tournaments' as tournaments_url %}
    {% url 'international_tournaments:international_tournaments' as international_tournaments_url %}
    {% url 'faq' as faq_url %}
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {#<li class="nav-item">#}
            {#    <a class="nav-link {% if request.path == "" %}active{% endif %}" aria-current="page" href="/">#}
            {#        <i class="bi-house-door-fill"></i> Home#}
            {#    </a>#}
            {#</li>#}
            {% if request.user.is_authenticated and request.session.club %}
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle {% if "/club/" in request.path %}active{% endif %}"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="bi bi-shield-fill"></i> Club
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'clubs:members' %}"
                                ><i class="bi bi-people-fill"></i> Members</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'clubs:teams' %}"
                                ><i class="bi bi-lightning-fill"></i> Teams</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'clubs:transfers' %}"
                                ><i class="bi bi-arrow-left-right"></i> Transfers</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'clubs:season_fees' %}"
                                ><i class="bi bi-cash-stack"></i> Season fees</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'clubs:invoices' %}"
                                ><i class="bi bi-receipt"></i> Invoices</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'clubs:settings' %}"
                                ><i class="bi bi-gear"></i> Settings</a
                            >
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle {% if "/tournaments/" in request.path or "/international-tournaments/" in request.path %}active{% endif %}"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="bi bi-fire"></i> Tournaments
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{{ tournaments_url }}"
                            ><i class="bi bi-house-fill"></i> Domestic</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ international_tournaments_url }}"
                            ><i class="bi bi-globe-americas"></i> International</a
                        >
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link {% if request.path == competitions_url %}active{% endif %}"
                    href="{{ competitions_url }}"
                    ><i class="bi bi-trophy-fill"></i> Competitions</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == faq_url %}active{% endif %}" href="{{ faq_url }}"
                    ><i class="bi bi-question-circle-fill"></i> FAQ</a
                >
            </li>
        </ul>
        <div class="d-flex">
            {% if request.user.is_authenticated and request.session.club %}
                {% if user_managed_clubs|length == 1 %}
                    <button type="button" class="btn btn-primary" disabled>{{ request.session.club.name }}</button>
                {% else %}
                    <div class="btn-group" role="group">
                        <button
                            type="button"
                            class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {{ request.session.club.name }}
                        </button>
                        <ul class="dropdown-menu">
                            {% for user_managed_club in user_managed_clubs %}
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="#"
                                        hx-post="{% url 'users:switch_club' %}"
                                        hx-trigger="click"
                                        hx-vals='{"club_id": "{{ user_managed_club.id }}"}'
                                        hx-swap="none"
                                        >{{ user_managed_club.name }}</a
                                    >
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <button
                    type="button"
                    class="btn btn-primary position-relative ms-1 me-2"
                    hx-get="{% url 'clubs:notifications_dialog' %}"
                    hx-target="#dialog"
                >
                    <i class="bi bi-bell-fill"></i>
                    {% if new_notifications_count %}
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            style="z-index: 1050;"
                        >
                            {{ new_notifications_count }}
                        </span>
                    {% endif %}
                </button>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <a
                        href="#"
                        class="navbar-avatar d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {% static 'user_default.svg' as fallback_image %}
                        <img
                            src="{{ user.agent.picture_url|default:fallback_image }}"
                            alt="mdo"
                            class="rounded-circle"
                        />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_staff %}
                            <li>
                                <a class="dropdown-item" href="/admin/">
                                    <i class="bi-shield-fill-exclamation"></i> Administration
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">
                                <i class="bi-person-fill"></i> Profile
                            </a>
                        </li>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <li>
                                <button type="submit" class="dropdown-item" href="#">
                                    <i class="bi-door-open-fill"></i> Sign out
                                </button>
                            </li>
                            {% if redirect_field_value %}
                                <input
                                    type="hidden"
                                    name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}"
                                />
                            {% endif %}
                        </form>
                    </ul>
                </div>
            {% else %}
                <form action="{% provider_login_url 'google' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success"><i class="bi-google"></i> Sign in</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block base_content %}
    <div class="d-flex w-100 justify-content-between">
        <div>{% block title %}{% endblock %}</div>
        <div class="mt-md-2">{% block buttons %}{% endblock %}</div>
    </div>
    <div id="content" class="mt-4">{% block content %}{% endblock %}</div>
{% endblock %}
