<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <div>
            <span class="text-muted">{{ competition.season }} • {{ competition.get_type_display | upper }}</span><br />
            <h2 class="mb-1">{{ competition.name }}</h2>
            {% if competition.club_application_without_invoice_count > 0 %}
                <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="z-index: 1050;"
                >
                    {{ competition.club_application_without_invoice_count }}
                </span>
            {% endif %}
            <div class="mb-1">
                {% if competition.registration_deadline > now %}
                    <span class="badge text-bg-success">OPEN REGISTRATION</span>
                {% else %}
                    <span class="badge text-bg-danger">CLOSED REGISTRATION</span>
                {% endif %}
                <span class="badge text-bg-primary text-bg-{{ competition.division | lower }}"
                    >{{ competition.division | upper }}</span
                >
                {% if competition.age_limit %}
                    <span class="badge text-bg-primary">{{ competition.age_limit | upper }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mt-2 mb-2">
        {# TODO: Make template for these liens because it's used twice #}
        <i class="bi bi-people-fill"></i> Total registered teams:
        <strong>{{ competition.application_count }}</strong>
        <br />
        {% if request.session.club %}
            <i class="bi bi-shield-fill"></i> Your club's teams:
            <strong>{{ competition.club_application_count }}</strong>
            {% if competition.has_awaiting_payment %}
                <span class="badge text-bg-danger">AWAITING PAYMENT</span>
            {% endif %}
            <br />
        {% endif %}
        <i class="bi bi-cash-coin"></i> Deposit per team:
        <strong>CZK {{ competition.deposit }}</strong>
        <br />
        <i class="bi bi-person"></i> Player's season fee:
        <strong>CZK {{ competition.season.player_fee }}</strong>
        <br />

        <i class="bi bi-clock"></i> Registration deadline:
        <b>{{ competition.registration_deadline | date:'d/m/Y H:i' }}</b>
        <br />
    </div>
    <div class="mb-2">
        {% if request.session.club and competition.registration_deadline > now %}
            <button
                class="btn btn-success position-relative mt-2"
                hx-get="{% url 'competitions:registration' competition.id %}"
                hx-target="#dialog"
            >
                Registration
                {% if competition.club_application_without_invoice_count > 0 %}
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="z-index: 1050;"
                    >
                        {{ competition.club_application_without_invoice_count }}
                    </span>
                {% endif %}
            </button>
        {% endif %}

        <button
            class="btn btn-primary mt-2"
            hx-get="{% url 'competitions:application_list' competition.id %}"
            hx-target="#dialog-lg"
        >
            Registered teams
        </button>

        <button
            class="btn btn-primary mt-2"
            hx-get="{% url 'competitions:competition_detail' competition.id %}"
            hx-target="#dialog"
        >
            Details
        </button>

        <button type="button" class="btn btn-primary mt-2" disabled>Standings</button>
    </div>
</div>
