{% load i18n %}
<div class="d-none d-md-block">
    <table class="table align-middle">
        <thead>
            <tr class="align-middle">
                <th>{% trans "Standing" %}</th>
                <th>{% trans "SOTG avg" %}</th>
                <th>{% trans "Team" %}</th>
                <th>{% trans "Club" %}</th>
                <th>{% trans "Seeding" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams_at_tournament %}
                <tr>
                    <td>{{ team.final_placement | default:"" }}</td>
                    <td>{{ team.spirit_avg | floatformat:2 }}</td>
                    <td><b>{{ team.application.team_name }}</b></td>
                    <td>{{ team.application.team.club.name }}</td>
                    <td>{{ team.seeding | default:"" }}</td>
                    <td class="fit text-end">{% include "tournaments/components/roster-button.html" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-block d-md-none">
    <div class="list-group">
        {% for team in teams_at_tournament %}
            <div class="list-group-item">
                <div>{% blocktrans with placement=team.final_placement|default:"" %}Standing: {{ placement }}{% endblocktrans %}</div>
                <div>{% blocktrans with avg=team.spirit_avg|floatformat:2 %}SOTG avg: {{ avg }}{% endblocktrans %}</div>
                <div>{% trans "Team" %}: <b>{{ team.application.team_name }}</b></div>
                <div>{% blocktrans with club=team.application.team.club.name %}Club: {{ club }}{% endblocktrans %}</div>
                <div>{% blocktrans with seed=team.seeding|default:"" %}Seeding: {{ seed }}{% endblocktrans %}</div>
                <div class="mt-2 mb-1">{% include "tournaments/components/roster-button.html" %}</div>
            </div>
        {% endfor %}
    </div>
</div>
