<div class="d-none d-md-block">
    <table class="table align-middle">
        <thead>
            <tr class="align-middle">
                <th>Standing</th>
                <th>SOTG avg</th>
                <th>Team</th>
                <th>Club</th>
                <th>Seeding</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams_at_tournament %}
                <tr>
                    <td>{{ team.final_placement | default:"" }}</td>
                    <td>{{ team.spirit_avg | floatformat:2 }}</td>
                    <td><b>{{ team.application.team_name }}</b></td>
                    <td>{{ team.application.team.club.name }}</td>
                    <td>{{ team.seeding | default:"" }}</td>
                    <td class="fit text-end">{% include "tournaments/components/roster-button.html" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-block d-md-none">
    <div class="list-group">
        {% for team in teams_at_tournament %}
            <div class="list-group-item">
                <div>Standing: {{ team.final_placement | default:"" }}</div>
                <div>SOTG avg: {{ team.spirit_avg | floatformat:2 }}</div>
                <div>Team: <b>{{ team.application.team_name }}</b></div>
                <div>Club: {{ team.application.team.club.name }}</div>
                <div>Seeding: {{ team.seeding | default:"" }}</div>
                <div class="mt-2 mb-1">{% include "tournaments/components/roster-button.html" %}</div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    initOpenModalFromUrl();
</script>
