@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Company font */
body {
    font-family: "Roboto Condensed", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* Hlavní kontejner má minimální výšku 100% obrazovky */
.min-vh-100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Obsah hlavní části se nezmenšuje */
.flex-shrink-0 {
    flex-shrink: 0;
}

/* Footer má automatickou margin-top, aby se "lepila" na spodní část */
.footer {
    margin-top: auto;
    background-color: #f8f9fa;
}

/* Company colors for primary buttons */
.btn-primary {
    background-color: #143c7d;
    border-color: #143c7d;
}

.btn-primary:hover {
    background-color: #1c4ea2;
    border-color: #1c4ea2;
}

.btn-primary:focus {
    background-color: #1c4ea2;
    border-color: #1c4ea2;
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #1c4ea2;
    border-color: #1c4ea2;
}

.text-bg-primary {
    background-color: #143c7d !important;
}

.text-bg-open {
    background-color: #2f85ed !important;
}

.text-bg-women {
    background-color: #990054 !important;
}

.text-bg-mixed {
    background-color: #e6cf2e !important;
    color: black !important;
}

.dropdown-item:active {
    background-color: #1c4ea2;
}

/* Bigger fonts for navbar */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .btn {
    font-size: 18px;
}

.navbar .dropdown-item {
    font-size: 17px;
}

.navbar-brand img,
.navbar-avatar img {
    /* Bigger logo */
    height: 45px;
}

.navbar-brand {
    /* Center logo in navbar */
    display: flex;
    align-items: center;
}

.navbar-brand img {
    /* Space between logo and text */
    margin-right: 7px;
}

.bg-male {
    --bs-table-bg: #f0fbff;
}

.bg-female {
    --bs-table-bg: #fff4f4;
}

/*.table td,*/
/*.table th {*/
/*    padding-top: 1rem; !* Zvětšení horního odsazení *!*/
/*    padding-bottom: 1rem; !* Zvětšení spodního odsazení *!*/
/*    font-size: 1.1rem;*/
/*}*/

/*.position-relative {*/
/*    position: relative;*/
/*}*/

/*.list-group-item {*/
/*    border-width: 1px 1px 0; !* Odstraníme spodní hranici pro všechny kromě poslední *!*/
/*}*/

/*.list-group-item:last-child {*/
/*    border-width: 1px; !* Poslední položka má normální hranici *!*/
/*}*/

.shadowed-list-group {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Jemný stín */
    background-color: white; /* Ujistíme se, že je seznam čitelný */
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.list-group-item.active {
    background-color: #1c4ea2 !important;
    border-color: #1c4ea2 !important;
    color: white !important;
}

.list-group-item.active .text-muted {
    color: white !important;
}

.text-primary {
    color: #143c7d !important;
}

.form-error-msg {
    color: var(--bs-form-invalid-color) !important;
    font-size: 0.875em !important;
    margin-top: 0.25rem !important;
    box-sizing: border-box !important;
    font-weight: bolder !important;
}
