<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-people-fill"></i> {{ competition }}: Registration</h5>
    </div>
    <div class="modal-body">
        <div class="mb-2 d-none d-md-block">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Club</th>
                        <th scope="col">Name</th>
                        <th scope="col">State</th>
                        <th scope="col">Registration time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ application.team.club.name }}</td>
                            <th scope="row">{{ application.team_name }}</th>
                            <td>{% include "competitions/components/competition-state-badge.html" %}</td>
                            <td>{{ application.created_at | date:"d/m/Y H:i" }}</td>
                            <td class="fit">
                                {% if request.session.club and competition.registration_deadline > now and not application.invoice %}
                                    <div>
                                        <button
                                            class="btn btn-danger"
                                            hx-post="{% url 'competitions:cancel_application' application.id %}"
                                        >
                                            Remove
                                        </button>
                                    </div>
                                {% else %}
                                    <button class="btn btn-primary invisible">X</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-block d-md-none">
            <ul class="list-group">
                {% for application in applications %}
                    <div class="list-group-item">
                        <div>Club: {{ application.team.club.name }}</div>
                        <div>Name: <b>{{ application.team_name }}</b></div>
                        <div>
                            State:
                            <span style="position: relative; top: -2px;">
                                {% include "competitions/components/competition-state-badge.html" %}
                            </span>
                        </div>
                        <div>Registration time: {{ application.created_at | date:"d/m/Y H:i" }}</div>
                        <div>
                            {% if request.session.club and competition.registration_deadline > now and not application.invoice %}
                                <div class="mt-2 mb-1">
                                    <button
                                        class="btn btn-danger"
                                        hx-post="{% url 'competitions:cancel_application' application.id %}"
                                    >
                                        Remove
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="modal-footer d-flex w-100 justify-content-between">
        <div>
            {% if request.session.club and competition.registration_deadline > now %}
                <button
                    class="btn btn-success position-relative"
                    hx-get="{% url 'competitions:registration' competition.id %}"
                    hx-target="#dialog"
                    data-bs-dismiss="modal"
                >
                    <i class="bi bi-plus-circle"></i> Add team
                </button>
            {% endif %}
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>
