<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
            <span> <i class="bi bi-people-fill"></i> {{ competition }}</span>
        </h5>
    </div>
    <div class="modal-body">
        <h5>General</h5>
        <div>Registered teams: {{ competition.application_count }}</div>
        <div>Deposit per team: CZK {{ competition.deposit }}</div>
        <div>Player's season fee (tier): CZK {{ competition.season.discounted_fee }}</div>
        <div>Player's fee at tournament: CZK {{ competition.fee_at_tournament }}</div>
        <div>
            Registration deadline: {{ competition.registration_deadline | date:'d/m/Y H:i' }}
            <span style="position: relative; top: -2px;">
                {% if competition.registration_deadline > now %}
                    <span class="badge text-bg-success">OPEN</span>
                {% else %}
                    <span class="badge text-bg-dark">CLOSED</span>
                {% endif %}
            </span>
        </div>
        <div class="mt-3">
            <h5>Tournaments</h5>
            {% for tournament in competition.prefetched_tournaments %}
                <div class="mt-2">
                    {{ tournament.name }}<br />
                    <small class="text-muted">
                        {{ tournament.location }} • {{ tournament.start_date | date:'d/m/Y' }} -
                        {{ tournament.end_date | date:'d/m/Y' }}
                    </small>
                </div>
            {% endfor %}
        </div>
        {% if competition.description %}
            <div class="mt-3">
                <h5>Description</h5>
                {{ competition.description|linebreaks }}
            </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>
