{% extends "core/base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}
    <small class="text-muted">
        {{ tournament.competition.season }} • {{ tournament.competition.get_environment_display | upper }}
    </small>
    <h1 class="mb-0">
        {{ tournament.name }}
        <span style="position: relative; top: -5px;">
            <span class="fs-4 badge text-bg-primary text-bg-{{ tournament.competition.division | lower }}"
                >{{ tournament.competition.division | upper }}</span
            >
            {% if tournament.competition.age_limit %}
                <span class="fs-4 badge text-bg-primary"> {{ tournament.competition.age_limit | upper }} </span>
            {% endif %}
        </span>
    </h1>
    <div>
        <b
            >{{ tournament.location }} • {{ tournament.start_date | date:'d/m/Y' }} -
            {{ tournament.end_date | date:'d/m/Y' }}</b
        >
    </div>
    <div>
        {% blocktrans with deadline=tournament.rosters_deadline|date:'d/m/Y H:i' %}Rosters deadline: {{ deadline }}{% endblocktrans %}
        <span style="position: relative; top: -2px;">
            {% if tournament.has_open_rosters %}
                <span class="badge text-bg-success">{% trans "OPEN" %}</span>
            {% else %}
                <span class="badge text-bg-dark">{% trans "CLOSED" %}</span>
            {% endif %}
        </span>
    </div>
    <div>{% blocktrans with teams=tournament.team_count members=tournament.member_count %}Total teams/members: {{ teams }}/{{ members }}{% endblocktrans %}</div>
{% endblock %}

{% block buttons %}
    {% if user.is_staff or user.is_superuser %}
        <a href="{% url 'tournaments:export_rosters_csv' tournament.id %}" class="btn btn-primary">
            <i class="bi bi-download"></i> {% trans "Export rosters" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if tournament.team_count %}
        <div
            hx-trigger="load, teamsListChanged from:body"
            hx-get="{% url 'tournaments:teams_table' tournament.id %}"
            hx-target="this"
        ></div>
    {% else %}
        <div class="alert alert-dark" role="alert">{% trans "No teams have been assigned to the tournament yet." %}</div>
    {% endif %}
{% endblock %}
