{% extends "core/base.html" %}
{% load humanize %}

{% block title %}<h1>Tournaments</h1>{% endblock %}

{% block content %}
    <div class="d-none d-md-block">
        <table class="table align-middle">
            <thead>
                <tr class="align-middle">
                    <th scope="col">Rosters<br /><small class="text-muted">Deadline</small></th>
                    <th scope="col">Season</th>
                    <th scope="col">Competition</th>
                    <th scope="col">Tournament<br /><small class="text-muted">Location</small></th>
                    <th scope="col">
                        Start date <i class="bi bi-arrow-down-short"></i>
                        <br />
                        <small class="text-muted">End date</small>
                    </th>
                    <th scope="col">Total teams<br />/ members</th>
                    <th scope="col">Winner</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>
                            {% if tournament.rosters_deadline > now %}
                                <span class="badge text-bg-success">OPEN</span>
                            {% else %}
                                <span class="badge text-bg-dark">CLOSED</span>
                            {% endif %}
                            <br />
                            <small class="text-muted">{{ tournament.rosters_deadline | date:'d/m/Y H:i' }}</small>
                        </td>
                        <td>
                            {{ tournament.competition.season }}<br />
                            <small class="text-muted"> {{ tournament.competition.get_type_display | upper }} </small>
                        </td>
                        <td>
                            {{ tournament.competition.name }}<br />
                            <span class="badge text-bg-primary text-bg-{{ tournament.competition.division | lower }}"
                                >{{ tournament.competition.division | upper }}</span
                            >
                            {% if tournament.competition.age_limit %}
                                <span class="badge text-bg-primary"
                                    >{{ tournament.competition.age_limit | upper }}</span
                                >
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'tournaments:detail' tournament.id %}" class="text-primary">
                                {{ tournament.name }}
                            </a>
                            <br />
                            <small class="text-muted">{{ tournament.location }}</small>
                        </td>
                        <td>
                            {{ tournament.start_date | date:'d.m.Y' }}<br />
                            <small class="text-muted">{{ tournament.end_date | date:'d.m.Y' }}</small>
                        </td>
                        <td>
                            {% if tournament.team_count %}
                                {{ tournament.team_count }}
                                / {{ tournament.member_count }}
                            {% endif %}
                        </td>
                        <td>
                            {% if tournament.winner_team %}
                                {{ tournament.winner_team }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-block d-md-none">
        <div class="list-group">
            {% for tournament in tournaments %}
                <div class="list-group-item">
                    <span class="text-muted"
                        >{{ tournament.competition.season }} •
                        {{ tournament.competition.get_type_display | upper }}</span
                    ><br />
                    <h2 class="mb-1">{{ tournament.name }}</h2>

                    <h5 class="mb-1">
                        <span class="badge text-bg-primary text-bg-{{ tournament.competition.division | lower }}"
                            >{{ tournament.competition.division | upper }}</span
                        >
                        {% if tournament.competition.age_limit %}
                            <span class="badge text-bg-primary">{{ tournament.competition.age_limit | upper }}</span>
                        {% endif %}
                    </h5>
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mt-2 mb-1">
                            <i class="bi bi-calendar-check"></i> {{ tournament.start_date }} -
                            {{ tournament.end_date }}<br />
                            <i class="bi bi-geo-alt-fill"></i> {{ tournament.location }}<br />
                            <i class="bi bi-trophy-fill"></i> {{ tournament.competition.age_limit }}
                            {{ tournament.competition.name }}
                            {{ tournament.competition.division }} <br />
                        </div>
                        <div class="mb-2 d-none d-md-block" style="align-self: end;">
                            <button type="button" class="btn btn-primary" disabled>
                                <i class="bi bi-person-lines-fill"></i> Rosters
                            </button>
                        </div>
                    </div>
                    <div class="mb-3 mt-1 d-block d-md-none">
                        <button type="button" class="btn btn-primary" disabled>
                            <i class="bi bi-person-lines-fill"></i> Rosters
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
