{% extends "core/base.html" %}
{% load humanize %}

{% block title %}<h1>Tournaments</h1>{% endblock %}

{% block content %}
    <div class="d-none d-md-block">
        <table class="table align-middle">
            <thead>
                <tr class="align-middle">
                    <th scope="col">Rosters<br /><small class="text-muted">Deadline</small></th>
                    <th scope="col">Season</th>
                    <th scope="col">Competition</th>
                    <th scope="col">Tournament<br /><small class="text-muted">Location</small></th>
                    <th scope="col">
                        Start date <i class="bi bi-arrow-down-short"></i>
                        <br />
                        <small class="text-muted">End date</small>
                    </th>
                    <th scope="col" class="fit pe-5 text-center">
                        <div data-bs-toggle="tooltip" data-bs-title="Total teams / members">Total<br />T / M</div>
                    </th>
                    <th scope="col">Winner</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    <tr>
                        <td>
                            {% if tournament.rosters_deadline > now %}
                                <span class="badge text-bg-success">OPEN</span>
                            {% else %}
                                <span class="badge text-bg-dark">CLOSED</span>
                            {% endif %}
                            <br />
                            <small class="text-muted">{{ tournament.rosters_deadline | date:'d/m/Y H:i' }}</small>
                        </td>
                        <td>
                            {{ tournament.competition.season }}<br />
                            <small class="text-muted"> {{ tournament.competition.get_type_display | upper }} </small>
                        </td>
                        <td>
                            {{ tournament.competition.name }}<br />
                            <span class="badge text-bg-primary text-bg-{{ tournament.competition.division | lower }}"
                                >{{ tournament.competition.division | upper }}</span
                            >
                            {% if tournament.competition.age_limit %}
                                <span class="badge text-bg-primary"
                                    >{{ tournament.competition.age_limit | upper }}</span
                                >
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'tournaments:detail' tournament.id %}" class="text-primary">
                                {{ tournament.name }}
                            </a>
                            <br />
                            <small class="text-muted">{{ tournament.location }}</small>
                        </td>
                        <td>
                            {{ tournament.start_date | date:'d.m.Y' }}<br />
                            <small class="text-muted">{{ tournament.end_date | date:'d.m.Y' }}</small>
                        </td>
                        <td>
                            {% if tournament.team_count %}
                                {{ tournament.team_count }}
                                / {{ tournament.member_count }}
                            {% endif %}
                        </td>
                        <td>
                            {% if tournament.winner_team %}
                                {{ tournament.winner_team }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-block d-md-none">
        <div class="list-group">
            {% for tournament in tournaments %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <small class="text-muted">
                                {{ tournament.competition.season }} •
                                {{ tournament.competition.get_type_display | upper }}
                            </small>

                            <div>
                                <b>{{ tournament.competition.name }}</b>
                                <span style="position: relative; top: -2px;">
                                    <span
                                        class="badge text-bg-primary text-bg-{{ tournament.competition.division | lower }}"
                                    >
                                        {{ tournament.competition.division | upper }}
                                    </span>
                                    {% if tournament.competition.age_limit %}
                                        <span class="badge text-bg-primary">
                                            {{ tournament.competition.age_limit | upper }}
                                        </span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <div>
                            {% if tournament.rosters_deadline > now %}
                                <span class="badge text-bg-success">OPEN</span>
                            {% else %}
                                <span class="badge text-bg-dark">CLOSED</span>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'tournaments:detail' tournament.id %}" class="text-primary h5">
                        {{ tournament.name }}
                    </a>
                    <div>
                        {{ tournament.location }} • {{ tournament.start_date | date:'d.m.Y' }} -
                        {{ tournament.end_date | date:'d.m.Y' }}
                    </div>
                    <div>Rosters deadline: {{ tournament.rosters_deadline | date:'d/m/Y H:i' }}</div>
                    <div>Total teams/members: {{ tournament.team_count }}/{{ tournament.member_count }}</div>
                    {% if tournament.winner_team %}
                        <div>Winner: {{ tournament.winner_team }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
