{% extends "core/base.html" %}
{% load humanize %}

{% block title %}
    <small class="text-muted">
        {{ tournament.competition.season }} • {{ tournament.competition.get_environment_display | upper }}
    </small>
    <h1 class="mb-0">
        {{ tournament.name }}
        <span style="position: relative; top: -5px;">
            <span class="fs-4 badge text-bg-primary text-bg-{{ tournament.competition.division | lower }}"
                >{{ tournament.competition.division | upper }}</span
            >
            {% if tournament.competition.age_limit %}
                <span class="fs-4 badge text-bg-primary"> {{ tournament.competition.age_limit | upper }} </span>
            {% endif %}
        </span>
    </h1>
    <div>
        <b
            >{{ tournament.location }} • {{ tournament.start_date | date:'d/m/Y' }} -
            {{ tournament.end_date | date:'d/m/Y' }}</b
        >
    </div>
    <div>
        Rosters deadline: {{ tournament.rosters_deadline | date:'d/m/Y H:i' }}
        <span style="position: relative; top: -2px;">
            {% if tournament.has_open_rosters %}
                <span class="badge text-bg-success">OPEN</span>
            {% else %}
                <span class="badge text-bg-dark">CLOSED</span>
            {% endif %}
        </span>
    </div>
    <div>Total teams/members: {{ tournament.team_count }}/{{ tournament.member_count }}</div>
    {% if tournament.winner_team %}
        <div>Winner: {{ tournament.winner_team }}</div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if tournament.team_count %}
        <div
            hx-trigger="load, teamsListChanged from:body"
            hx-get="{% url 'tournaments:teams_table' tournament.id %}"
            hx-target="this"
        ></div>
    {% else %}
        <div class="alert alert-dark" role="alert">No teams have been assigned to the tournament yet.</div>
    {% endif %}
{% endblock %}
