{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="submit" value="Generate NSA export" name="_generate-nsa-export" />
        <input type="submit" value="Calculate season fees (for check)" name="_check-fees" />
        <input type="submit" value="Preview invoice generation (dry-run)" name="_dry-run-invoices" />
        <input
            type="submit"
            value="Generate invoices (irreversible)"
            name="_generate-invoices"
            style="background-color: #ba2121"
        />
    </div>
    {% if clubs_without_subject_id %}
        <div>
            <b>Warning:</b> Invoices will NOT be generated for these clubs (missing FAKTUROID_SUBJECT_ID):
            <ul>
                {% for club in clubs_without_subject_id %}
                    <li>{{ club.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
