{% extends "core/base.html" %}
{% load humanize %}

{% block title %}
    Competitions
{% endblock %}

{% block buttons %}
    {% if request.session.club %}
        <button
            type="button"
            class="btn btn-success position-relative"
            hx-post="{% url 'finance:invoices' %}"
            hx-trigger="click"
            hx-confirm="Are you sure you don’t want to register any more teams for now? It’s always better to have fewer invoices than more. 🙂"
            hx-swap="none"
            {% if not club_application_without_invoice_total %}disabled{% endif %}
        >
            <i class="bi bi-receipt-cutoff"></i> Generate Invoice
            <span class="position-absolute top-0 translate-middle badge rounded-pill bg-dark">
                {{ club_application_without_invoice_total }} total
            </span>
        </button>
    {% endif %}
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <h2>Open registration ({{ open_competitions | length }})</h2>
    <div class="list-group">
        {% if not open_competitions %}
            <div class="alert alert-primary" role="alert">No competitions are currently open for registration.</div>
        {% endif %}
        {% for competition in open_competitions %}
            {% include "clubs/components/competition-list-group-item.html" with competition=competition %}
        {% endfor %}
    </div>
    <h2 class="mt-4">Closed registration</h2>
    <div class="list-group">
        {% for competition in closed_competitions %}
            {% include "clubs/components/competition-list-group-item.html" with competition=competition %}
        {% endfor %}
    </div>
{% endblock %}
