{% load humanize %}
<div>
    <small class="text-muted">
        {% if obj.created_at == obj.updated_at %}
            Created at
            <span data-bs-toggle="tooltip" data-bs-title="{{ obj.created_at }}"
                >{{ obj.created_at | naturaltime }}</span
            >
        {% else %}
            Updated at
            <span data-bs-toggle="tooltip" data-bs-title="{{ obj.updated_at }}"
                >{{ obj.updated_at | naturaltime }}</span
            >
        {% endif %}
    </small>
</div>
