{% load i18n %}
{% if transfer.state == 1 %}
    <form method="POST" hx-post="{% url 'members:change_transfer_state' %}" hx-confirm="{% trans "Are you sure?" %}">
        {% csrf_token %}
        <input type="hidden" name="transfer_id" value="{{ transfer.id }}" />
        {% if transfer.approving_club.id == request.session.club.id %}
            <button type="submit" class="btn btn-success" name="action" value="approve">{% trans "Approve" %}</button>
            <button type="submit" class="btn btn-danger" name="action" value="reject">{% trans "Reject" %}</button>
        {% elif transfer.requesting_club.id == request.session.club.id %}
            <button type="submit" class="btn btn-danger" name="action" value="revoke">{% trans "Revoke" %}</button>
        {% endif %}
    </form>
{% endif %}
